<br>
<div class="row">
  <div class="small-6 small-centered columns">
    <div class="callout">
      <h3><%= t(:edit) %></h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label t(:login) %>
          <%= f.text_field :login, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label t(:email) %>
          <%= f.email_field :email,  autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label t(:password) %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label t(:password_confirmation) %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label t(:current_password) %> <i>(<%= t(:confirm_password) %>)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit t(:update), class:"small secondary hollow button" %>
        </div>
      <% end %>

      <h4><%= t(:cancel_my_account) %></h4>

      <p> <%= button_to t(:cancel_my_account), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"small alert hollow button" %></p>

    </div>
  </div>
</div>