<br>
<div class="row">
  <div class="small-6 small-centered columns">
    <div class="callout">
      <h2><%= t(:sign_up) %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label t(:login) %>
          <%= f.text_field :login, autofocus: true %>
        </div>


        <div class="field">
          <%= f.label t(:email) %>
          <%= f.email_field :email,  autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label t(:password) %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label t(:password_confirmation) %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit t(:sign_up), class:"small secondary hollow button" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
