<h2><%= t(:resend_unlock_instructions) %></h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label t(:email) %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit t(:resend_unlock_instructions) %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
