<br>
<div class="row">
  <div class="small-6 small-centered columns">
    <div class="callout">
      <h2><%= t(:forgot_your_password) %></h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label t(:email) %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit t(:send_me_reset_password_instructions), class:"secondary hollow button" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
