<br>
<div class="row">
  <div class="small-6 small-centered columns">
    <div class="callout">
      <%= form_for @event do |f| %>
        <% if @event.errors.any? %>
          <div class="callout alert">
            <div id="error_explanation">
              <h3>
                <%= t(:error_event) %>
              </h3>
              <ul>
                <% @event.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <%= f.text_field :title, placeholder:t(:title) %>
        <div class="row">
          <div class="small-6 large-6 columns">
            <%= f.label t(:iniatial_date) %>
            <%= @event.iniatial_date %>
          </div>
          <div class="small-6 large-6 columns">
              <%= f.label t(:final_date) %>
              <%= @event.final_date %>
          </div>
        </div>
        <%= f.label t(:deadline_date_vote)%>
        <%= @event.deadline_date %>
        <%= f.date_field(:deadline_date) %>

        <%= f.select(:user_ids, User.all.where.not(id: current_user.id).map { |user| [user.email, user.id] }, {include_blank: false},{multiple: true} )%>

        <%= f.text_area :comment, placeholder:t(:comment), rows:8 %>

        <%= f.submit t(:save), class:"small secondary hollow button" %>
        <%= link_to t(:back), events_path, class:"small secondary hollow button" %>
      <% end %>
    </div>
  </div>
</div>