<br>
<div class="row">
  <div class="small-10 small-centered columns">
    <% @events.each do |event| %>
      <div class="callout">

        <% if event.deadline_date >= Date.today%>
          <span class="secondary label" style="float:right"> <%= t(:deadline_date_vote) %> <%= event.deadline_date %></span>
        <% else %>
          <span class="alert label" style="float:right"> <%= t(:voting_ended) %> <%= event.deadline_date %></span>
        <% end %>

        <h5><%= event.title %></h5>

        <% if event.comment? %>
          <p><%= truncate(strip_tags(event.comment), length:150) %></p>
        <% end %>

        <% if event.deadline_date < Date.today %>
          <%= link_to t(:show_result), event_path(event), class:"small secondary hollow button"%>
        <% else %>
          <%= link_to t(:show), event_path(event), class:"small secondary hollow button" %>
        <% end %>

        <% if policy(event).edit? %>
          <%= link_to t(:edit), edit_event_path(event), class:"small secondary hollow button" %>
        <% end %>

        <% if policy(event).destroy? %>
          <%= link_to t(:destroy), event_path(event), method: :delete, data: { confirm: 'Are you sure?' },class:"small alert hollow button" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
