<br>
<div class="row">
  <div class="small-10 small-centered columns">
    <div class="row">
      <div class="small-8 large-8 columns">
        <div class="callout">
          <% if @event.deadline_date >= Date.today%>
            <span class="secondary label" style="float:right"> <%= t(:deadline_date_vote) %> <%= @event.deadline_date %></span>
          <% else %>
            <span class="alert label" style="float:right"> <%= t(:voting_ended) %> <%= @event.deadline_date %></span><br>
          <% end %>

          <h3>
            <%= @event.title %>
          </h3>

          <% if @event.comment? %>
            <h5>
              <%= @event.comment %>
            </h5>
          <% end %>

          <p>
            <strong>Final date:</strong>
            <%= @event.final_date %>
          </p>

          <p>
            <strong>Iniatial date:</strong>
            <%= @event.iniatial_date %>
          </p>


          <div class="row">
            <div class="small-12 large-12 columns">

              <% if policy(@event).vote? %>
                <%= link_to t(:vote), vote_event_path, class:"small secondary hollow button" %>
              <% elsif policy(@event).vote_edit?  %>
                <%= link_to t(:change_vote), vote_edit_event_path, class:"small secondary hollow button"%>
              <% end %>
              <%= link_to t(:back), events_path, class:"small secondary hollow button" %>
            </div>
          </div>
        </div>
      </div>

      <div class="small-4 large-4 columns">

        <ul class="accordion" data-accordion data-allow-all-closed="true">
          <li class="accordion-item" data-accordion-item>
            <a class="accordion-title"><%= t(:participants_event) %></a>
            <div class="accordion-content" data-tab-content>
              <% @users.each do |user| %>
                <%= user.login %><br>
              <% end %>
            </div>
          </li>
        </ul>

        <% if policy(@event).admin? %>
          <% if @votes.present? %>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
              <li class="accordion-item" data-accordion-item>
                <a class="accordion-title"><%= t(:statistics_vote) %></a>
                <div class="accordion-content" data-tab-content>
                  <% @votes.each do |date, vote| %>
                    <% if vote != 0 %>
                      <span class="secondary label"><%= date %></span>
                      <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" percent" aria-valuemax="100">
                        <span class="progress-meter" style="width: <%= @percents[date] %>%">
                          <p class="progress-meter-text"><%= t(:voted) %> <%= vote %></p>
                        </span>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </li>
            </ul>
          <% end %>
        <% end %>

        <% if @event.deadline_date < Date.today %>
          <% if @show_event_result.present? %>
            <a class="expanded button success"><%= t(:result_vote)%> <%= @show_event_result.date %></a>
          <% else %>

            <% if @event_result != nil %>
              <% if policy(@event).admin? %>
                <a data-open="exampleModal1" class="expanded button"><%= t(:result_several) %></a>
                <div class="reveal" id="exampleModal1" data-reveal>
                  <h1><%= t(:select_date_event) %></h1>

                  <%= form_tag(event_result_creat_event_path) do %>
                    <% @event_result.each do |vote| %>
                      <%= vote %>
                      <%= radio_button_tag(:result_vote, vote) %>
                      <%= hidden_field_tag(:id, @event.id )%>
                    <% end %>
                    <%= submit_tag 'Subscribe', class:'button'%>
                  <% end %>

                  <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <% else %>
                <a data-open="exampleModal1" class="expanded button"><%= t(:result_several_expect) %><a>
              <% end %>
            <% end %>

            <% if @event_result == nil %>
              <a class="expanded button alert"><%= t(:no_result)%></a>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
