<br>
<div class="row">
  <div class="small-10 small-centered columns">
  <%= form_tag vote_update_event_path do %>
    <div class="callout">
      <div class="row">
        <% @votes.each do |v| %>
          <%= fields_for 'votes[]', v do |vote| %>
            <div class="small-6 large-2 columns end">
              <%= @event.iniatial_date %>
              <%= vote.hidden_field(:date, value: @event.iniatial_date) %>
              <% @event.iniatial_date = @event.iniatial_date + 1.days%>

              <%= vote.select(:possible_answer, [[0], [0.5], [1.0]], {}, {})%>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= submit_tag t(:save), class:"small secondary hollow button" %>
      <%= link_to t(:back), event_path(@event), class:"small secondary hollow button" %>
    </div>
  <% end %>
  </div>
</div>