<br>
<div class="row">
  <div class="small-6 small-centered columns">
    <div class="callout">
      <h3><%= t(:log_in) %></h3>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label t(:email) %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label t(:password) %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label t(:remember_me) %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit t(:log_in), class:"small secondary hollow button" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
