<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Dey width friends" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div id="responsive-menu">
        <div class="row">
          <div class="small-10 small-centered columns">
            <div class="top-bar-left">
              <ul class="menu">
                <li><%= link_to t(:title_site), root_path, class:"secondary button" %></li>
                <% if pundit_user %>
                  <li><%= link_to t(:events), events_path, class:"secondary hollow button top_bar_button" %></li>
                  <li><%= link_to t(:new_event), new_event_path, class:"secondary hollow button top_bar_button" %></li>
                <% end %>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="dropdown menu" data-dropdown-menu>
                <li>
                  <a class="secondary hollow button"><%= I18n.locale %></a>
                  <ul class="menu">
                    <li><%= link_to 'en', root_path("en") %></li>
                    <li><%= link_to 'ru', root_path("ru") %></li>
                    <li><%= link_to 'ua', root_path("ua") %></li>
                  </ul>
                </li>
                <% if pundit_user %>
                  <li><%= link_to t(:edit), edit_user_registration_path,  class:"secondary hollow button top_bar_button" %></li>
                  <li><%= link_to t(:exit), destroy_user_session_path, :method => :delete, class:"secondary hollow button top_bar_button" %></li>
                <% elsif %>
                  <li><%= link_to t(:registration), new_user_registration_path, class:"secondary hollow button top_bar_button"%></li>
                  <li><%= link_to t(:login), new_user_session_path, class:"secondary hollow button top_bar_button"%></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <%= yield %>

  </body>
</html>
